.main {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 80px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 6rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2rem;
}

/* Medium screens (tablet) */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}

/* Large screens (desktop) */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0 0 0;
    gap: 4rem;
  }
  
  .frame {
    max-width: 300px;
    margin: 0 auto;
  }
}

.frame {
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 0;
}

.imageContainer {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}

.image {
  object-fit: cover;
  padding: 5px;
  border-radius: 20%;
  background: #999999;
  box-shadow: -10px 10px 20px #bebebe,
              10px -10px 20px #000000;
  transition: transform 0.2s ease-in-out;
}

.image:hover {
  transform: scale(1.02);
}

/* Mobile screens */
@media (max-width: 768px) {
  .grid {
    padding: 6rem 1rem 6rem 1rem;
  }

  .frame {
    width: 80%;
  }

  .imageWrapper {
    width: 80%;
  }
} 