.main {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  padding: calc(60px + 2rem) 2rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

/* Medium screens (tablet) */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding: calc(60px + 4rem) 2rem 2rem;
  }
}

/* Large screens (desktop) */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .frame {
    max-width: 300px;
    margin: 0 auto;
  }
}

.frame {
  width: 100%;
}

.container {
  padding: 0;
}

.imageContainer {
  display: block;
  width: 100%;
  text-align: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.image {
  object-fit: cover;
  padding: 5px;
  border-radius: 20%;
  background: #999999;
  box-shadow: -10px 10px 20px #bebebe,
              10px -10px 20px #000000;
  transition: transform 0.2s ease-in-out;
}

.image:hover {
  transform: scale(1.02);
} 